body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f9fc;
  color: #333;
}

header {
  background: #0a192f;
  color: white;
  padding: 40px;
  text-align: center;
}

.links a {
  color: #64ffda;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.project {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project a {
  color: #0077cc;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

.toc {
  background: #ffffff;
  padding: 20px;
  margin: 30px auto;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.toc ul {
  list-style: none;
  padding-left: 0;
}

.toc li {
  margin: 8px 0;
}

.toc a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
}

.toc a:hover {
  text-decoration: underline;
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

#contact li {
  margin-bottom: 10px;
  font-size: 1.05rem;
}

html {
  scroll-behavior: smooth;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  border: 3px solid #64ffda;
}

.experience-img {
  width: 100%;
  max-width: 1024px;
  height: auto;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.img-caption {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

.experience-img:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

